#header {
    background: black;
    ul {
        list-style: none;
        display: flex;
        li {
            a {
                padding: 10px 15px;
                text-transform: uppercase;
                color: wheat;
                text-decoration: none;
                display: block;
                &.active {
                    background: #ffffff38
                }
            }
        }
    }
}